{"openapi":"3.1.0","info":{"title":"Deps API","description":"Deps Public API","version":"2.0.0"},"servers":[{"url":"https://api.depscian.tech","description":"Production server"}],"paths":{"/v2/player/find":{"get":{"tags":["player"],"summary":"Найти информацию об игроке","description":"Поиск и получение подробной информации об игроке по никнейму и серверу","operationId":"find_player_v2_player_find_get","parameters":[{"name":"nickname","in":"query","required":true,"schema":{"type":"string","title":"Nickname"}},{"name":"serverId","in":"query","required":true,"schema":{"title":"Serverid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlayerResponse"}}}},"400":{"description":"Некорректный запрос","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"404":{"description":"Игрок не найден","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"503":{"description":"Сервис недоступен","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/admins":{"get":{"tags":["admins"],"summary":"Получить список администраторов сервера","description":"Возвращает список администраторов указанного сервера с их данными","operationId":"get_server_admins_v2_admins_get","parameters":[{"name":"serverId","in":"query","required":true,"schema":{"type":"integer","description":"ID сервера","title":"Serverid"},"description":"ID сервера"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminsResponse"}}}},"400":{"description":"Некорректный запрос (неверный ID сервера)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"404":{"description":"Сервер не найден или не поддерживается","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"503":{"description":"Сервис временно недоступен","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/online":{"get":{"tags":["online","online"],"summary":"Получить список всех онлайн игроков","operationId":"get_online_list_v2_online_get","parameters":[{"name":"serverId","in":"query","required":true,"schema":{"type":"integer","title":"Serverid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OnlinePlayersResponse"}}}},"404":{"description":"Данные не найдены для указанного сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/sobes":{"get":{"tags":["sobes","sobes"],"summary":"Получить текущие собеседования","operationId":"get_sobes_list_v2_sobes_get","parameters":[{"name":"serverId","in":"query","required":true,"schema":{"type":"integer","title":"Serverid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SobesResponse"}}}},"404":{"description":"Данные собеседований не найдены для указанного сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/leaders":{"get":{"tags":["leadership","leadership"],"summary":"Получить список онлайн лидеров","operationId":"get_leaders_list_v2_leaders_get","parameters":[{"name":"serverId","in":"query","required":true,"schema":{"type":"integer","title":"Serverid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LeadersResponse"}}}},"404":{"description":"Данные не найдены для указанного сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/subleaders":{"get":{"tags":["leadership","leadership"],"summary":"Получить список онлайн заместителей","operationId":"get_subleaders_list_v2_subleaders_get","parameters":[{"name":"serverId","in":"query","required":true,"schema":{"type":"integer","title":"Serverid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubleadersResponse"}}}},"404":{"description":"Данные не найдены для указанного сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/fractions":{"get":{"tags":["fraction_data","fractions"],"summary":"Получить список доступных фракций","operationId":"get_fractions_list_v2_fractions_get","parameters":[{"name":"serverId","in":"query","required":true,"schema":{"type":"integer","title":"Serverid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FractionsListResponse"}}}},"404":{"description":"Данные не найдены для указанного сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/fraction":{"get":{"tags":["fraction_data","fractions"],"summary":"Получить онлайн игроков выбранной фракции","operationId":"get_fraction_members_v2_fraction_get","parameters":[{"name":"serverId","in":"query","required":true,"schema":{"type":"integer","title":"Serverid"}},{"name":"fractionId","in":"query","required":true,"schema":{"type":"string","title":"Fractionid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FractionResponse"}}}},"404":{"description":"Данные не найдены для указанного сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/ghetto/{server_id}":{"post":{"tags":["ghetto_data","ghetto"],"summary":"Save ghetto zones data","operationId":"receive_ghetto_data_v2_ghetto__server_id__post","parameters":[{"name":"server_id","in":"path","required":true,"schema":{"type":"integer","title":"Server Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/GhettoZone"},"title":"Data"}}}},"responses":{"200":{"description":"Data successfully stored","content":{"application/json":{"schema":{}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/ghetto":{"get":{"tags":["ghetto_data","ghetto"],"summary":"Get ghetto zones data","operationId":"get_ghetto_list_v2_ghetto_get","parameters":[{"name":"serverId","in":"query","required":true,"schema":{"type":"integer","title":"Serverid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GhettoResponse"}}}},"404":{"description":"Данные не найдены для указанного сервера. Повторите попытку позже.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/map":{"get":{"tags":["property_map"],"summary":"Получить карту недвижимости с POI","description":"Возвращает карту недвижимости для указанного сервера с информацией о ближайших точках интереса","operationId":"get_property_map_with_poi_v2_map_get","parameters":[{"name":"serverId","in":"query","required":true,"schema":{"title":"Serverid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MapResponse"}}}},"400":{"description":"Некорректный запрос"},"500":{"description":"Внутренняя ошибка сервера"},"503":{"description":"Сервис недоступен"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/webhooks/monobank":{"get":{"tags":["webhooks"],"summary":"Monobank Confirm Webhook","operationId":"monobank_confirm_webhook_v2_webhooks_monobank_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/v2/families":{"get":{"tags":["families"],"summary":"Получить список семей на сервере","description":"Возвращает список всех семей на указанном сервере с основной информацией.","operationId":"get_families_v2_families_get","parameters":[{"name":"serverId","in":"query","required":true,"schema":{"title":"Serverid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FamilyListResponse"}}}},"404":{"description":"Данные о семьях не найдены","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/family":{"get":{"tags":["families"],"summary":"Получить подробную информацию о семье","description":"Возвращает подробную информацию о конкретной семье, включая список участников.","operationId":"get_family_v2_family_get","parameters":[{"name":"famId","in":"query","required":true,"schema":{"type":"integer","description":"ID семьи для поиска","title":"Famid"},"description":"ID семьи для поиска"},{"name":"serverId","in":"query","required":true,"schema":{"title":"Serverid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FamilyResponse"}}}},"404":{"description":"Семья или данные не найдены","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/status":{"get":{"tags":["status","status"],"summary":"Получить статус серверов и API","description":"Возвращает полный статус всех отслеживаемых серверов Arizona RP и состояние кэша API.","operationId":"get_status_v2_status_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatusResponse"}}}},"500":{"description":"Внутренняя ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"AdminsResponse":{"properties":{"server":{"$ref":"#/components/schemas/app__schemas__admin__ServerInfo"},"admins":{"items":{"$ref":"#/components/schemas/app__schemas__admin__AdminInfo"},"type":"array","title":"Admins","description":"Список администраторов сервера."},"timestamp":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Timestamp","description":"Отметка времени (Unix timestamp) получения данных."}},"type":"object","required":["server","admins","timestamp"],"title":"AdminsResponse","description":"Схема API-ответа, содержащая информацию о сервере и список его администраторов.","examples":[{"admins":[{"forum_url":"https://forum.arizona-rp.com/members/123456/","level":4,"nickname":"Deps_Cian","position":"ГС Пра-во","short_name":"[Depsik]","status":"В сети","vk_url":"https://vk.com/id123456"},{"forum_url":"https://forum.arizona-rp.com/members/654321/","level":3,"nickname":"Alex_Smith","position":"ЗГС Гос","short_name":"[Alex]","status":"Не в сети","vk_url":"https://vk.com/id654321"}],"server":{"id":17,"name":"Show-Low"},"timestamp":1678886400}]},"ApiErrorResponse":{"properties":{"error_code":{"type":"string","title":"Error Code","description":"Код ошибки","example":"PLAYER_NOT_FOUND"},"error_message":{"type":"string","title":"Error Message","description":"Описание ошибки","example":"Игрок не найден на этом сервере"},"error_id":{"type":"string","title":"Error Id","description":"Уникальный идентификатор ошибки","example":"550e8400-e29b-41d4-a716-446655440000"}},"type":"object","required":["error_code","error_message","error_id"],"title":"ApiErrorResponse","examples":[{"error_code":"PLAYER_NOT_FOUND","error_id":"550e8400-e29b-41d4-a716-446655440000","error_message":"Игрок не найден на этом сервере"},{"error_code":"INVALID_SERVER","error_id":"a1b2c3d4-e5f6-7890-1234-567890abcdef","error_message":"Некорректный ID сервера"},{"error_code":"SERVICE_UNAVAILABLE","error_id":"b2c3d4e5-f6a7-8901-2345-67890abcdef1","error_message":"Сервис временно недоступен"},{"error_code":"INTERNAL_ERROR","error_id":"c3d4e5f6-a7b8-9012-3456-7890abcdef12","error_message":"Внутренняя ошибка сервера"}]},"ArizonaServerInfo":{"properties":{"number":{"type":"integer","title":"Number","description":"Идентификатор сервера"},"name":{"type":"string","title":"Name","description":"Название сервера"},"ip":{"type":"string","title":"Ip"},"port":{"type":"integer","title":"Port"},"online":{"type":"integer","title":"Online","description":"Количество онлайн игроков"},"maxplayers":{"type":"integer","title":"Maxplayers"},"password":{"type":"boolean","title":"Password","description":"Наличие пароля для подключения к серверу"},"donateMultiplier":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Donatemultiplier","description":"Множитель доната"},"experienceMultiplier":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Experiencemultiplier","description":"Множитель опыта"},"status":{"type":"string","title":"Status","description":"Текущий статус сервера (online, maintenance, offline)","default":"online"},"status_since":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Status Since","description":"Время начала текущего статуса (для offline и maintenance)"}},"type":"object","required":["number","name","ip","port","online","maxplayers","password"],"title":"ArizonaServerInfo"},"AuctionInfo":{"properties":{"min_bet":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Min Bet"},"end_time":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"End Time"},"start_price":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Start Price"}},"type":"object","required":["min_bet","end_time","start_price"],"title":"AuctionInfo"},"Business":{"properties":{"id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Id"},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"type":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Type"},"location":{"anyOf":[{"$ref":"#/components/schemas/Location"},{"type":"null"}]},"on_auction":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"On Auction","default":false},"auction_info":{"anyOf":[{"$ref":"#/components/schemas/AuctionInfo"},{"type":"null"}]},"nearest_poi":{"anyOf":[{"$ref":"#/components/schemas/app__schemas__player__NearestPOI"},{"type":"null"}]}},"type":"object","required":["id","name","type","location"],"title":"Business"},"BusinessItem":{"properties":{"id":{"type":"integer","title":"Id","description":"Уникальный идентификатор имущества."},"lx":{"type":"number","title":"Lx","description":"Координата X имущества."},"ly":{"type":"number","title":"Ly","description":"Координата Y имущества."},"name":{"type":"string","title":"Name","description":"Название имущества."},"owner":{"type":"string","title":"Owner","description":"Имя владельца имущества."},"hasAuction":{"type":"boolean","title":"Hasauction","description":"Признак, находится ли имущество на аукционе."},"auMinBet":{"type":"integer","title":"Auminbet","description":"Минимальная ставка на аукционе."},"auTimeEnd":{"type":"integer","title":"Autimeend","description":"Время окончания аукциона (Unix timestamp)."},"auStartPrice":{"type":"integer","title":"Austartprice","description":"Начальная цена аукциона."},"nearest_poi":{"anyOf":[{"$ref":"#/components/schemas/app__schemas__map__NearestPOI"},{"type":"null"}],"description":"Информация о ближайшей точке интереса (POI)."},"type":{"type":"integer","title":"Type","description":"Тип бизнеса."}},"type":"object","required":["id","lx","ly","name","owner","hasAuction","auMinBet","auTimeEnd","auStartPrice","type"],"title":"BusinessItem","description":"Модель, представляющая бизнес на карте."},"Businesses":{"properties":{"onAuction":{"items":{"$ref":"#/components/schemas/BusinessItem"},"type":"array","title":"Onauction","description":"Массив бизнесов, выставленных на аукцион."},"noAuction":{"additionalProperties":{"items":{"$ref":"#/components/schemas/BusinessItem"},"type":"array"},"type":"object","title":"Noauction","description":"Объект, где ключи - типы бизнесов, а значения - массивы бизнесов, не выставленных на аукцион."},"onMarketplace":{"items":{},"type":"array","title":"Onmarketplace","description":"Массив бизнесов, выставленных на торговую площадку."}},"type":"object","required":["onAuction","noAuction","onMarketplace"],"title":"Businesses","description":"Сгруппированные данные о бизнесах."},"ErrorResponse":{"properties":{"detail":{"type":"string","title":"Detail","description":"Описание ошибки","example":"Online data not found for this server"}},"type":"object","required":["detail"],"title":"ErrorResponse","examples":[{"detail":"Online data not found for this server"}]},"Family":{"properties":{"id":{"type":"integer","title":"Id","description":"Идентификатор семьи"},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name","description":"Название семьи"},"leader":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leader","description":"Никнейм лидера семьи"},"level":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Level","description":"Уровень семьи"},"flagId":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Flagid","description":"Идентификатор флага семьи"},"membersCount":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Memberscount","description":"Количество участников семьи","default":0},"members":{"items":{"$ref":"#/components/schemas/FamilyMember"},"type":"array","title":"Members","description":"Список участников семьи"}},"type":"object","required":["id","members"],"title":"Family"},"FamilyBase":{"properties":{"id":{"type":"integer","title":"Id","description":"Идентификатор семьи"},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name","description":"Название семьи"},"leader":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Leader","description":"Никнейм лидера семьи"},"level":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Level","description":"Уровень семьи"},"flagId":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Flagid","description":"Идентификатор флага семьи"},"membersCount":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Memberscount","description":"Количество участников семьи","default":0}},"type":"object","required":["id"],"title":"FamilyBase"},"FamilyListResponse":{"properties":{"families":{"items":{"$ref":"#/components/schemas/FamilyBase"},"type":"array","title":"Families","description":"Список семей"},"timestamp":{"type":"integer","title":"Timestamp","description":"Время последнего обновления данных"}},"type":"object","required":["families","timestamp"],"title":"FamilyListResponse"},"FamilyMember":{"properties":{"id":{"type":"integer","title":"Id","description":"Идентификатор аккаунта игрока"},"nickname":{"type":"string","title":"Nickname","description":"Никнейм игрока"},"rank":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Rank","description":"Ранг игрока в семье"},"player_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Player Id","description":"Идентификатор игрока на сервере"},"warns":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Warns","description":"Количество предупреждений игрока"},"leader":{"type":"boolean","title":"Leader","description":"Является ли игрок лидером семьи","default":false},"deputy":{"type":"boolean","title":"Deputy","description":"Является ли игрок заместителем лидера семьи","default":false},"joined_at":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Joined At","description":"Символическая дата подключения игрока к игре"}},"type":"object","required":["id","nickname"],"title":"FamilyMember"},"FamilyResponse":{"properties":{"family":{"$ref":"#/components/schemas/Family"},"timestamp":{"type":"integer","title":"Timestamp","description":"Время последнего обновления данных"}},"type":"object","required":["family","timestamp"],"title":"FamilyResponse"},"FractionResponse":{"properties":{"data":{"additionalProperties":{"$ref":"#/components/schemas/OnlinePlayer"},"type":"object","title":"Data","description":"Данные игроков выбранной фракции","example":{"1":{"inUniform":true,"isLeader":false,"isZam":false,"level":10,"member":"LSPD","name":"Ivan_Petrov","position":"Офицер"},"2":{"inUniform":true,"isLeader":false,"isZam":false,"level":25,"member":"LSPD","name":"Alex_Sidorov","position":"Сержант"},"3":{"inUniform":false,"isLeader":false,"isZam":false,"level":30,"member":"LSPD","name":"Maria_Ivanova","position":"Детектив"}}},"timestamp":{"type":"integer","title":"Timestamp","description":"Временная метка получения данных","example":1634567890}},"type":"object","required":["data","timestamp"],"title":"FractionResponse","examples":[{"data":{"1":{"inUniform":true,"isLeader":false,"isZam":false,"level":10,"member":"LSPD","name":"Ivan_Petrov","position":"Офицер"},"2":{"inUniform":true,"isLeader":false,"isZam":false,"level":25,"member":"LSPD","name":"Alex_Sidorov","position":"Сержант"},"3":{"inUniform":false,"isLeader":false,"isZam":false,"level":30,"member":"LSPD","name":"Maria_Ivanova","position":"Детектив"}},"timestamp":1634567890}]},"FractionsListResponse":{"properties":{"data":{"items":{"type":"string"},"type":"array","title":"Data","description":"Список доступных фракций","example":["LSPD","FBI","ТСР"]},"timestamp":{"type":"integer","title":"Timestamp","description":"Временная метка получения данных","example":1634567890}},"type":"object","required":["data","timestamp"],"title":"FractionsListResponse","examples":[{"data":["LSPD","FBI","ТСР"],"timestamp":1634567890}]},"GhettoResponse":{"properties":{"data":{"additionalProperties":{"$ref":"#/components/schemas/GhettoZone"},"type":"object","title":"Data","description":"Объект, содержащий данные о различных квадратах на карте, индексированных числовыми строками."},"timestamp":{"type":"integer","title":"Timestamp","description":"Отметка времени (Unix timestamp) генерации данных.","example":1692110000}},"type":"object","required":["data","timestamp"],"title":"GhettoResponse","description":"Схема ответа для данных о территориях гетто.","examples":[{"data":{"10":{"color":10181046,"squareEnd":{"x":2500.3,"y":-1640.4},"squareStart":{"x":2480.1,"y":-1660.2}},"25":{"color":16776960,"squareEnd":{"x":1940.7,"y":-2110.8},"squareStart":{"x":1920.5,"y":-2130.6}}},"timestamp":1692110000}]},"GhettoZone":{"properties":{"squareStart":{"$ref":"#/components/schemas/Point","description":"Координаты начальной точки квадрата территории."},"squareEnd":{"$ref":"#/components/schemas/Point","description":"Координаты конечной точки квадрата территории."},"color":{"type":"integer","title":"Color","description":"Цвет территории в целочисленном представлении.","example":16711680},"fraction_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Fraction Id","description":"Идентификатор фракции, которой принадлежит территория."},"money":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Money","description":"Количество денег, связанная с территорией."},"respects":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Respects","description":"Количество респектов, связанное с территорией."},"famId":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Famid","description":"Идентификатор семьи, которой принадлежит территория."},"coins":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Coins","description":"Количество 'монет' семьи, связанных с территорией."},"famName":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Famname","description":"Название семьи, которой принадлежит территория."},"flagId":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Flagid","description":"Идентификатор флага семьи."},"logoId":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Logoid","description":"Идентификатор логотипа семьи."},"arzId":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Arzid","description":"Идентификатор территории по Аризоновски."},"propertyName":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Propertyname","description":"Название особого объекта на территории."}},"type":"object","required":["squareStart","squareEnd","color"],"title":"GhettoZone","description":"Модель, описывающая квадрат на карте (территорию)."},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"House":{"properties":{"id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Id"},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"location":{"anyOf":[{"$ref":"#/components/schemas/Location"},{"type":"null"}]},"on_auction":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"On Auction","default":false},"auction_info":{"anyOf":[{"$ref":"#/components/schemas/AuctionInfo"},{"type":"null"}]},"nearest_poi":{"anyOf":[{"$ref":"#/components/schemas/app__schemas__player__NearestPOI"},{"type":"null"}]}},"type":"object","required":["id","name","location"],"title":"House"},"HouseItem":{"properties":{"id":{"type":"integer","title":"Id","description":"Уникальный идентификатор имущества."},"lx":{"type":"number","title":"Lx","description":"Координата X имущества."},"ly":{"type":"number","title":"Ly","description":"Координата Y имущества."},"name":{"type":"string","title":"Name","description":"Название имущества."},"owner":{"type":"string","title":"Owner","description":"Имя владельца имущества."},"hasAuction":{"type":"boolean","title":"Hasauction","description":"Признак, находится ли имущество на аукционе."},"auMinBet":{"type":"integer","title":"Auminbet","description":"Минимальная ставка на аукционе."},"auTimeEnd":{"type":"integer","title":"Autimeend","description":"Время окончания аукциона (Unix timestamp)."},"auStartPrice":{"type":"integer","title":"Austartprice","description":"Начальная цена аукциона."},"nearest_poi":{"anyOf":[{"$ref":"#/components/schemas/app__schemas__map__NearestPOI"},{"type":"null"}],"description":"Информация о ближайшей точке интереса (POI)."}},"type":"object","required":["id","lx","ly","name","owner","hasAuction","auMinBet","auTimeEnd","auStartPrice"],"title":"HouseItem","description":"Модель, представляющая дом на карте."},"Houses":{"properties":{"hasOwner":{"items":{"$ref":"#/components/schemas/HouseItem"},"type":"array","title":"Hasowner","description":"Массив домов с владельцем."},"noOwner":{"items":{"$ref":"#/components/schemas/HouseItem"},"type":"array","title":"Noowner","description":"Массив домов без владельца."},"onAuction":{"items":{"$ref":"#/components/schemas/HouseItem"},"type":"array","title":"Onauction","description":"Массив домов, выставленных на аукцион."},"onMarketplace":{"items":{},"type":"array","title":"Onmarketplace","description":"Массив домов, выставленных на торговую площадку."}},"type":"object","required":["hasOwner","noOwner","onAuction","onMarketplace"],"title":"Houses","description":"Сгруппированные данные о домах."},"LeadersResponse":{"properties":{"data":{"additionalProperties":{"$ref":"#/components/schemas/OnlinePlayer"},"type":"object","title":"Data","description":"Данные о лидерах фракций","example":{"1":{"inUniform":true,"isLeader":true,"isZam":false,"level":125,"member":"LSPD","name":"Deps_Cian","position":"Капитан"},"2":{"inUniform":true,"isLeader":true,"isZam":false,"level":98,"member":"ТСР","name":"Michael_Johnson","position":"Начальник"}}},"timestamp":{"type":"integer","title":"Timestamp","description":"Временная метка получения данных","example":1634567890}},"type":"object","required":["data","timestamp"],"title":"LeadersResponse","examples":[{"data":{"1":{"inUniform":true,"isLeader":true,"isZam":false,"level":125,"member":"LSPD","name":"Deps_Cian","position":"Капитан"},"2":{"inUniform":true,"isLeader":true,"isZam":false,"level":98,"member":"ТСР","name":"Michael_Johnson","position":"Начальник"}},"timestamp":1634567890}]},"LevelInfo":{"properties":{"level":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Level"},"current_exp":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Current Exp"},"next_exp":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Next Exp"}},"type":"object","required":["level","current_exp","next_exp"],"title":"LevelInfo"},"Location":{"properties":{"x":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"X"},"y":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Y"}},"type":"object","required":["x","y"],"title":"Location"},"MapResponse":{"properties":{"houses":{"$ref":"#/components/schemas/Houses","description":"Данные о домах на сервере."},"businesses":{"$ref":"#/components/schemas/Businesses","description":"Данные о бизнесах на сервере."}},"type":"object","required":["houses","businesses"],"title":"MapResponse","description":"Основная модель ответа для карты недвижимости.","example":{"businesses":{"noAuction":{"5":[{"auMinBet":0,"auStartPrice":0,"auTimeEnd":0,"hasAuction":false,"id":127,"lx":1210.84,"ly":206.11,"name":"Продуктовый магазин","nearest_poi":{"city":"Los-Santos","name":"Закусочная","x":1215.0,"y":210.0},"owner":"Player_Two","type":5}]},"onAuction":[],"onMarketplace":[]},"houses":{"hasOwner":[],"noOwner":[],"onAuction":[{"auMinBet":100000,"auStartPrice":50000,"auTimeEnd":1698397200,"hasAuction":true,"id":832,"lx":1885.88,"ly":-1113.56,"name":"Дом","nearest_poi":{"city":"Los-Santos","name":"Банк","x":1880.0,"y":-1110.0},"owner":"Player_One"}],"onMarketplace":[]}}},"MoneyInfo":{"properties":{"total":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Total"},"donate_currency":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Donate Currency"},"hand":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Hand"},"bank":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Bank"},"deposit":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Deposit"},"phone_balance":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Phone Balance"},"charity":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Charity"},"personal_accounts":{"anyOf":[{"additionalProperties":{"anyOf":[{"type":"string"},{"type":"null"}]},"type":"object"},{"type":"null"}],"title":"Personal Accounts"}},"type":"object","required":["total","donate_currency","hand","bank","deposit","phone_balance","charity","personal_accounts"],"title":"MoneyInfo"},"OnlinePlayer":{"properties":{"level":{"type":"integer","title":"Level","description":"Уровень игрока","example":10},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name","description":"Имя игрока","example":"Deps_Cian"},"member":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Member","description":"Название фракции","example":"LSPD"},"position":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Position","description":"Должность во фракции","example":"Капитан"},"isLeader":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Isleader","description":"Игрок является лидером фракции","default":false,"example":true},"isZam":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Iszam","description":"Игрок является заместителем","default":false,"example":false},"inUniform":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Inuniform","description":"Одет ли игрок в форму","default":false,"example":true}},"type":"object","required":["level"],"title":"OnlinePlayer"},"OnlinePlayersResponse":{"properties":{"data":{"additionalProperties":{"$ref":"#/components/schemas/OnlinePlayer"},"type":"object","title":"Data","description":"Данные всех онлайн игроков","example":{"1":{"inUniform":true,"isLeader":false,"isZam":false,"level":15,"member":"LSPD","name":"Sergey_Kuznetsov","position":"Офицер"},"2":{"inUniform":true,"isLeader":false,"isZam":false,"level":28,"member":"ТСР","name":"Dmitriy_Volkov","position":"Механик"},"3":{"inUniform":false,"isLeader":false,"isZam":false,"level":5,"name":"Petr_Novikov"}}},"timestamp":{"type":"integer","title":"Timestamp","description":"Временная метка получения данных","example":1634567890}},"type":"object","required":["data","timestamp"],"title":"OnlinePlayersResponse","examples":[{"data":{"1":{"inUniform":true,"isLeader":false,"isZam":false,"level":15,"member":"LSPD","name":"Sergey_Kuznetsov","position":"Офицер"},"2":{"inUniform":true,"isLeader":false,"isZam":false,"level":28,"member":"ТСР","name":"Dmitriy_Volkov","position":"Механик"},"3":{"inUniform":false,"isLeader":false,"isZam":false,"level":5,"name":"Petr_Novikov"}},"timestamp":1634567890}]},"OrganizationInfo":{"properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"rank":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Rank"},"uniform":{"anyOf":[{},{"type":"null"}],"title":"Uniform"},"last_seen":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Last Seen"}},"type":"object","required":["name","rank","uniform"],"title":"OrganizationInfo"},"PlayerFamilyInfo":{"properties":{"id":{"type":"integer","title":"Id","description":"Идентификатор семьи"},"name":{"type":"string","title":"Name","description":"Название семьи"},"timestamp":{"type":"integer","title":"Timestamp","description":"Время последнего обновления данных о семье"},"member_info":{"$ref":"#/components/schemas/PlayerFamilyMemberInfo","description":"Информация о члене семьи"}},"type":"object","required":["id","name","timestamp","member_info"],"title":"PlayerFamilyInfo"},"PlayerFamilyMemberInfo":{"properties":{"id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Id","description":"Идентификатор игрока"},"nickname":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Nickname","description":"Никнейм игрока"},"rank":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Rank","description":"Ранг в семье"},"leader":{"type":"boolean","title":"Leader","description":"Является ли лидером","default":false},"deputy":{"type":"boolean","title":"Deputy","description":"Является ли заместителем","default":false},"warns":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Warns","description":"Количество предупреждений"}},"type":"object","title":"PlayerFamilyMemberInfo"},"PlayerResponse":{"properties":{"server":{"$ref":"#/components/schemas/app__schemas__player__ServerInfo"},"id":{"type":"integer","title":"Id"},"status":{"$ref":"#/components/schemas/StatusInfo"},"health":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Health"},"hunger":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Hunger"},"law_abiding":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Law Abiding"},"drug_addiction":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Drug Addiction"},"phone_number":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Phone Number"},"spouse":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Spouse"},"hours_played":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Hours Played"},"admin":{"anyOf":[{"$ref":"#/components/schemas/app__schemas__player__AdminInfo"},{"type":"null"}]},"timestamp":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Timestamp","description":"Время последнего обновления данных об онлайне, на основе которых формируются поля status и organization"},"level":{"anyOf":[{"$ref":"#/components/schemas/LevelInfo"},{"type":"null"}]},"vip_info":{"anyOf":[{"$ref":"#/components/schemas/VipInfo"},{"type":"null"}]},"money":{"anyOf":[{"$ref":"#/components/schemas/MoneyInfo"},{"type":"null"}]},"property":{"anyOf":[{"$ref":"#/components/schemas/PropertyInfo"},{"type":"null"}]},"family":{"anyOf":[{"$ref":"#/components/schemas/PlayerFamilyInfo"},{"type":"null"}],"description":"Информация о семье игрока"},"job":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Job"},"organization":{"anyOf":[{"$ref":"#/components/schemas/OrganizationInfo"},{"type":"null"}]},"wanted_level":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Wanted Level"},"warnings":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Warnings"}},"type":"object","required":["server","id","status","health","hunger","law_abiding","drug_addiction","phone_number","spouse","hours_played","level","vip_info","money","property","job","organization","wanted_level","warnings"],"title":"PlayerResponse","examples":[{"admin":{"forum_url":"https://forum.arizona-rp.com/members/1/","level":6,"nickname":"Admin_Name","position":"Главный Администратор","short_name":"[AN]","vk_url":"https://vk.com/admin_name"},"drug_addiction":0,"family":{"id":123,"leader":"Admin_Name","level":5,"member_info":{"id":1066949,"is_deputy":false,"is_leader":true,"joined_at":1692110000,"nickname":"Admin_Name","rank":5,"warns":0},"name":"Моя семья","timestamp":1692110000},"health":100,"hours_played":690,"hunger":100,"id":1066949,"job":"Начальный фермер","law_abiding":100,"level":{"current_exp":94,"level":49,"next_exp":200},"money":{"bank":11777971,"charity":0,"deposit":12204649,"donate_currency":1767,"hand":151392886,"personal_accounts":{"bankAccount1":"-1","bankAccount2":"-1","bankAccount3":"-1","bankAccount4":"-1","bankAccount5":"-1","bankAccount6":"-1"},"phone_balance":91013,"total":175375506},"organization":{"name":"LSPD","rank":"Офицер","uniform":true},"phone_number":7656583,"property":{"businesses":[],"houses":[{"id":204,"location":{"x":1885.88,"y":-1113.56},"name":"Дом игрока","nearest_poi":{"city":"Los-Santos","name":"Банк","x":1880.0,"y":-1110.0},"on_auction":false}]},"server":{"id":17,"name":"Show-Low"},"status":{"online":true,"player_id":582},"timestamp":1692110000,"vip_info":{"add_vip":"1715318570","expiration_date":-1,"level":"Premium"},"wanted_level":0,"warnings":0}]},"Point":{"properties":{"x":{"type":"number","title":"X","description":"Координата X","example":1885.88},"y":{"type":"number","title":"Y","description":"Координата Y","example":-1113.56}},"type":"object","required":["x","y"],"title":"Point","description":"Модель для координатной точки."},"PropertyInfo":{"properties":{"houses":{"anyOf":[{"items":{"$ref":"#/components/schemas/House"},"type":"array"},{"type":"null"}],"title":"Houses","default":[]},"businesses":{"anyOf":[{"items":{"$ref":"#/components/schemas/Business"},"type":"array"},{"type":"null"}],"title":"Businesses","default":[]}},"type":"object","title":"PropertyInfo"},"ServerCacheStatus":{"properties":{"last_update":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Last Update","description":"Временная метка последнего обновления данных","example":1634567890},"has_online":{"type":"boolean","title":"Has Online","description":"Наличие данных об онлайн игроках","example":true},"has_sobes":{"type":"boolean","title":"Has Sobes","description":"Наличие данных о собеседованиях","example":true}},"type":"object","required":["has_online","has_sobes"],"title":"ServerCacheStatus"},"ServerCacheStatusResponse":{"properties":{"servers":{"additionalProperties":{"$ref":"#/components/schemas/ServerCacheStatus"},"type":"object","title":"Servers","description":"Статус кэша для каждого сервера"}},"type":"object","required":["servers"],"title":"ServerCacheStatusResponse","examples":[{"servers":{"1":{"has_online":true,"has_sobes":true,"last_update":1686924577},"2":{"has_online":true,"has_sobes":false,"last_update":1686924570},"3":{"has_online":false,"has_sobes":false}}}]},"SobesEntry":{"properties":{"time":{"type":"string","title":"Time","description":"Время проведения собеседования","example":"14:30"},"place":{"type":"string","title":"Place","description":"Место проведения собеседования","example":"Главный офис LSPD"}},"type":"object","required":["time","place"],"title":"SobesEntry"},"SobesResponse":{"properties":{"data":{"additionalProperties":{"$ref":"#/components/schemas/SobesEntry"},"type":"object","title":"Data","description":"Данные о запланированных собеседованиях","example":{"FBI":{"place":"Офис ФБР","time":"20:15"},"LSPD":{"place":"Главный офис LSPD","time":"18:30"},"ТСР":{"place":"ТСР","time":"19:00"}}},"timestamp":{"type":"integer","title":"Timestamp","description":"Временная метка получения данных","example":1634567890}},"type":"object","required":["data","timestamp"],"title":"SobesResponse","examples":[{"data":{"FBI":{"place":"Офис ФБР","time":"20:15"},"LSPD":{"place":"Главный офис LSPD","time":"18:30"},"ТСР":{"place":"ТСР","time":"19:00"}},"timestamp":1634567890}]},"StatusInfo":{"properties":{"online":{"type":"boolean","title":"Online"},"last_seen":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Last Seen"},"player_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Player Id"}},"type":"object","required":["online"],"title":"StatusInfo"},"StatusResponse":{"properties":{"arizona":{"items":{"$ref":"#/components/schemas/ArizonaServerInfo"},"type":"array","title":"Arizona","description":"Список серверов Аризоны"},"timestamp":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Timestamp","description":"Unix-отметка времени последнего обновления данных о серверах на стороне Аризоны."},"api":{"$ref":"#/components/schemas/ServerCacheStatusResponse","description":"Статус кэша API для каждого сервера"}},"type":"object","required":["arizona","api"],"title":"StatusResponse"},"SubleadersResponse":{"properties":{"data":{"additionalProperties":{"$ref":"#/components/schemas/OnlinePlayer"},"type":"object","title":"Data","description":"Данные о заместителях фракций","example":{"1":{"inUniform":true,"isLeader":false,"isZam":true,"level":49,"member":"LSPD","name":"Jane_Smith","position":"Лейтенант"},"2":{"inUniform":false,"isLeader":false,"isZam":true,"level":78,"member":"ТСР","name":"Robert_Williams","position":"Зам. начальника"},"3":{"inUniform":true,"isLeader":false,"isZam":true,"level":67,"member":"FBI","name":"Emily_Davis","position":"Зам. директора"}}},"timestamp":{"type":"integer","title":"Timestamp","description":"Временная метка получения данных","example":1634567890}},"type":"object","required":["data","timestamp"],"title":"SubleadersResponse","examples":[{"data":{"1":{"inUniform":true,"isLeader":false,"isZam":true,"level":49,"member":"LSPD","name":"Jane_Smith","position":"Лейтенант"},"2":{"inUniform":false,"isLeader":false,"isZam":true,"level":78,"member":"ТСР","name":"Robert_Williams","position":"Зам. начальника"},"3":{"inUniform":true,"isLeader":false,"isZam":true,"level":67,"member":"FBI","name":"Emily_Davis","position":"Зам. директора"}},"timestamp":1634567890}]},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"},"VipInfo":{"properties":{"level":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Level"},"add_vip":{"title":"Add Vip"},"expiration_date":{"title":"Expiration Date"}},"type":"object","required":["level","add_vip","expiration_date"],"title":"VipInfo"},"app__schemas__admin__AdminInfo":{"properties":{"nickname":{"type":"string","title":"Nickname","description":"Игровой никнейм администратора."},"short_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Short Name","description":"Короткое имя или тег администратора."},"vk_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Vk Url","description":"URL-адрес профиля ВКонтакте администратора."},"forum_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Forum Url","description":"URL-адрес профиля на форуме администратора."},"position":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Position","description":"Должность администратора."},"level":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Level","description":"Уровень администратора. (приблизительно)"},"status":{"type":"string","enum":["В сети","Не в сети"],"title":"Status","description":"Онлайн-статус администратора."}},"type":"object","required":["nickname","short_name","vk_url","forum_url","position","level","status"],"title":"AdminInfo"},"app__schemas__admin__ServerInfo":{"properties":{"name":{"type":"string","title":"Name","description":"Название сервера."},"id":{"type":"integer","title":"Id","description":"Уникальный идентификатор сервера."}},"type":"object","required":["name","id"],"title":"ServerInfo","description":"Информация о сервере."},"app__schemas__map__NearestPOI":{"properties":{"name":{"type":"string","title":"Name","description":"Название ближайшей точки интереса (POI).","example":"Банк"},"city":{"type":"string","title":"City","description":"Город, в котором находится ближайшая POI.","example":"Los-Santos"},"x":{"type":"number","title":"X","description":"Координата X ближайшей POI.","example":1880.0},"y":{"type":"number","title":"Y","description":"Координата Y ближайшей POI.","example":-1110.0}},"type":"object","required":["name","city","x","y"],"title":"NearestPOI","description":"Информация о ближайшей точке интереса (POI)."},"app__schemas__player__AdminInfo":{"properties":{"nickname":{"type":"string","title":"Nickname"},"short_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Short Name"},"vk_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Vk Url"},"forum_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Forum Url"},"position":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Position"},"level":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Level"}},"type":"object","required":["nickname"],"title":"AdminInfo"},"app__schemas__player__NearestPOI":{"properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"city":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"City"},"x":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"X"},"y":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Y"}},"type":"object","required":["name","city","x","y"],"title":"NearestPOI"},"app__schemas__player__ServerInfo":{"properties":{"name":{"type":"string","title":"Name"},"id":{"type":"integer","title":"Id"}},"type":"object","required":["name","id"],"title":"ServerInfo"}},"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"X-API-Key"}}},"security":[{"ApiKeyAuth":[]}]}